body{
    font-family: Arial;
    background-color: gray;
    font-size:12pt;
}
h1{
    background-color:#FFFFFF;
    width: 10%;
    font-size:24pt;
    text-align:center;
}
h2{
    background-color:#FFFFFF;
    width: 10%;
    font-size:14pt;
    text-align:center
}
input{
    height: 25px;
    width: 50%;
    text-align:left;
}
button{
    height: 25px;
    text-align:center;
}
ul{
    background-color:#FFFFFF;
    height: 65%;
    width: 50%;
    overflow: auto;
    list-style-type:none
}
img{
    width:250px;
}

footer{
    background-color:#FFFFFF;
    font-size:12pt;
    text-align:center;
}